# gitignore for dotfiles!
# Ignore everything
/*

# Except these
!.gitignore
!.vimrc
!.Xmodmap
!.Xresources
!.extend.Xresources

# Do it like this for subdirectories: Only the config file will be comitted
!.i3/
.i3/*
!.i3/config

!.Xresources-Themes/
.Xresources-Themes/*
!.Xresources-Themes/FrontEndDelight

!.config/
.config/*

!.config/zathura
.config/zathura/*
!.config/zathura/zathurarc

!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf

!.config/feh
.config/feh/*
!.config/feh/keys

